*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font: poppins;
    background-color:goldenrod;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: wheat;
    text-align: left;
}
#main {
    width: 100%;
    height: 10vh;
    position: relative;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color:rgb(8, 8, 8);
    box-shadow: 1px 5px 10px;
    z-index: 1;
}
.logo img{
    height: 35px;
}
.items
{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.items li a{
    height: 15px;
    text-decoration: none;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1em;
    color: rgb(10, 10, 8);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.details{
    color: rgb(15, 15, 15);
    font-size:1em;
    font-weight: 400;
    border-bottom: 1px groove wheat;
    
}
.image{
    width: 450px;
    height: 500px;
}
.image img{
    width: 75%;
    height: 100%;
    object-fit:contain;
    border-radius: 5%;
    border-color: black;
    border-style: solid;
    margin-top: 13%;
}
.content
{
    width: 90%;
    margin-top: 20%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    left: 50%;
    right: 50%;
    letter-spacing: 1px;
    transform:translate(-50%,-50%);
}
.main-text{
    width: 500px;
    max-width: 500px;
width: 100%;
background: rgb(7, 7, 7);
left:50%;
margin-top: 15%;
box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
padding: 30px;

}
.main-text h1{
    font-size: 3em;
    color: crimson;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}
.main-text p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.button{
    width: 190px;
    height: 44px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 8);
    background-color:crimson;
    box-shadow: dimgray;
    font-size: 20px;
    box-shadow: 1px 7px 10px;
    border-radius: 20px;
    text-decoration: none;
}
.button:hover{
    background-color:rgb(252, 249, 76);
    transition: all ease 0.1s;
}
.items li a:hover{
    background-color:rgb(252, 249, 76);
    color:black;
    transition: all ease 0.1s;

}
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: blanchedalmond;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 5px;
	margin:0px;
	
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 50px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}